# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
ddiscord-test-library
examples/basic-bot/basic-bot
examples/plugin-bot/plugin-bot
examples/full-bot/full-bot

# DUB
.dub
docs.json
__dummy.html

# Code coverage
*.lst
